<div class="container">
  <h2>User List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button (click)="editUser(user)">Edit</button>
          <button (click)="deleteUser(user)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>User Form</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstName">First Name</label>
      <input id="firstName" formControlName="firstName" />
      <div
        *ngIf="
          userForm.get('firstName')?.invalid &&
          userForm.get('firstName')?.touched
        "
      >
        First Name is required.
      </div>
    </div>
    <div>
      <label for="lastName">Last Name</label>
      <input id="lastName" formControlName="lastName" />
      <div
        *ngIf="
          userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched
        "
      >
        Last Name is required.
      </div>
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" />
      <div
        *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
      >
        <div *ngIf="userForm.get('email')?.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="userForm.get('email')?.errors?.['email']">
          Invalid email format.
        </div>
      </div>
    </div>
    <button type="submit">Save</button>
    <button type="button" (click)="onCancel()">Cancel</button>
  </form>
</div>
